.mainContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.arrowLeft{
    margin-top: 2rem;
    font-size: 1.8rem;
    text-decoration: none;
    margin-left: 1rem;
    font-weight: 100;
}
.image{
    width: 100%;
    height: 30%;
    background-image: url('../../assets/accountImg.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    margin-bottom: 2rem;
}
.textOverlay{
    display: block;
    width: 100%;
    height: auto;
    margin-left: 1rem;
    font-weight: 600;
    font-size: 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* outline: 1px solid black; */

}
.line{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.subline{
    width: 35%;
    border-bottom: 0.1px solid #666666;
}
.or{
    margin: 0.2rem;
    margin-right: 1rem;
    margin-left: 1rem;
}
.name{
    margin-top: 1rem;
    font-size: 0.8rem;
    gap: 0.3rem;
}
.inputContainer{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 0.5rem;
}
.signUp{
    color: var(--green-light);
    text-decoration: none;
}
.line{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.subline{
    width: 22%;
    border-bottom: 0.1px solid #666666;
}
.or{
    margin: 0.2rem;
    margin-right: 1rem;
    margin-left: 1rem;
}
.socials{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem

}