.topCard{
    width: 100%;
    height: 160px;
    padding: 0.8rem;
    background: rgba(142, 187, 57, 0.1);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-self: center;
}

.text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    width: 70%;
    
    /* primary-black */
    
    color: #2A2A2A;
}

.btnWrapper{
    width: 164px;
    height: 40px;
    align-self: self-end;
}