.inputContainer{
    width: 80%;
    height: 3rem;
    background: #FAFAFA;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.3rem;
    border-radius: 1rem;
}
.countryCode{
    font-size:0.9rem;
    color: #949393;
}
.input{
     background: #FAFAFA;
     width: 95%;
    border: none;
    outline: none;
    color: #212121;
    font-size:0.9rem;
}

.input::placeholder {
    color: #949393;
}