.checkbox{
    width: 1.3rem;
    height: 1.3rem;
    background-color: var(--green-light);
}
/* .checkbox[type=chckbox]:checked{
  background-color: var(--green-light);
} */
.checkboxCotainer{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
    gap: 0.5rem;
    /* outline: 1px solid black; */
}
.checkContainer{
    display: flex;
    gap: 0.3rem;
}

input[type=checkbox] {
    accent-color: var(--green-light);

}