@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-family: 'Poppins', sans-serif;
}

:root {
  --foundation-green: #2A2A2A;
  --green-light: #8EBB39;

}